@use "../_colors.scss" as *;

.main__sidebar {
    display: none;

    max-height: 100vh;
    padding: 2rem 1.5rem;
    padding-left: 0;
    
    position: sticky;
    top: 0;
    overflow: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    &__items {
        display: flex;
        flex-direction: column;

        & a {
            padding: .5rem 0;
            padding-left: 1rem;

            border-left: 2px solid $sidebar-border;
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }

        & [aria-current="true"] {
            color: $font;
            font-weight: bold;

            background-color: $sidebar-bg-current;
            border-left: 2px solid $sidebar-border-current;
            box-shadow: inset 1px 0 0 0 $sidebar-border-current;

            &:hover {
                color: $font;
            }
        }

    }
}