*,
*::before,
*::after {
  /* Afecta a todos los elementos del documento */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", century-gothic, sans-serif;
  color: #c9d1d9;
}

::-moz-selection {
  background: rgba(56, 139, 253, 0.3);
}

::selection {
  background: rgba(56, 139, 253, 0.3);
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #1E1E1E;
  margin-block: 0.2rem;
}
::-webkit-scrollbar-thumb {
  background-color: #6e7681;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #8b949e;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a:hover {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
.font {
  color: #c9d1d9;
}

.font-muted {
  color: #8b949e;
}

.font-high-contrast {
  color: #ffffff;
}

a {
  color: #58a6ff;
}
a:hover {
  text-decoration: underline;
}

.a--font-muted {
  color: #8b949e;
  transition: 60ms cubic-bezier(0.33, 1, 0.68, 1);
}
.a--font-muted:hover {
  color: #58a6ff;
  text-decoration: none;
}

.table__row, .div-blue {
  padding: 1rem;
  border: 1px solid #3a4047;
}

.div-blue {
  background-color: rgba(56, 139, 253, 0.15);
  border-color: rgba(56, 139, 253, 0.7);
  border-radius: 0.5rem;
}

.table__row {
  border-bottom: 0px;
}
.table__row:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.table__row:last-child {
  border-bottom: 1px solid #3a4047;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.table > :nth-child(odd) {
  background-color: #282829;
}
.table > :nth-child(even) {
  background-color: #1E1E1E;
}

.button-green, .button {
  padding: 0.3rem 0.7rem;
  height: 2rem;
  border: 1px solid;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

.button {
  background-color: #282829;
  color: #c9d1d9;
  border-color: rgba(240, 246, 252, 0.2);
}
.button:hover {
  background-color: #303031;
  border-color: #6e7681;
  text-decoration: none;
}

.button-green {
  background-color: #238636;
  color: #ffffff;
  border-color: transparent;
}
.button-green:hover {
  background-color: #2ea043;
  border-color: transparent;
  text-decoration: none;
}

input {
  padding: 0.3rem 0.7rem;
  height: 2rem;
  background-color: #1E1E1E;
  border: 1px solid rgba(240, 246, 252, 0.3);
  border-radius: 0.5rem;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}
input:focus {
  border-color: rgba(88, 166, 255, 0.9);
  outline: none;
}

ion-icon {
  font-size: 1.2rem;
  position: relative;
  top: 0.1rem;
  color: #8b949e;
}

.arrow {
  position: relative;
  top: 0.1rem;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-style: solid;
  border-width: 0.25rem 0.25rem 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

header {
  background-color: #282829;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

body {
  background-color: #1E1E1E;
}

.main {
  display: grid;
  grid-template-areas: "navigation content sidebar";
  grid-template-columns: 1fr 4fr 1fr;
}
.main__navigation {
  grid-area: navigation;
}
.main__content {
  grid-area: content;
}
.main__sidebar {
  grid-area: sidebar;
}

.main__navigation {
  padding: 2rem;
  max-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: auto;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navigation__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main__content {
  padding: 2rem 3rem;
}
.main__content > * {
  margin-bottom: 3rem;
}
.main__content > *:last-child {
  margin-top: 30rem;
  margin-bottom: 0;
}

.section__title {
  margin-bottom: 0.5rem;
}
.section p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.section--underline .section__title {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(240, 246, 252, 0.3);
}

.main__sidebar {
  padding: 2rem;
  max-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar__items {
  display: flex;
  flex-direction: column;
}
.sidebar__items a {
  padding: 0.5rem 0;
  padding-left: 1rem;
  border-left: 2px solid #3a4047;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.sidebar__items [aria-current=true] {
  color: #c9d1d9;
  font-weight: bold;
  background-color: rgba(56, 139, 253, 0.15);
  border-left: 2px solid rgba(56, 139, 253, 0.7);
  box-shadow: inset 1px 0 0 0 rgba(56, 139, 253, 0.7);
}
.sidebar__items [aria-current=true]:hover {
  color: #c9d1d9;
}/*# sourceMappingURL=index.css.map */