@use "_colors.scss" as *;

body {
    background-color: $body;
}

.main {
    display: grid;
    grid-template-areas: "navigation content sidebar";
    grid-template-columns: 1fr 4fr 1fr;

    &__navigation {
        grid-area: navigation;
    }

    &__content {
        grid-area: content;
    }

    &__sidebar {
        grid-area: sidebar;
    }

}