@use "_colors.scss" as *;

.main__content {
    padding: 2rem 3rem;

    & > * {
        margin-bottom: 3rem;
    }
    & > *:last-child {
        margin-top: 30rem;
        margin-bottom: 0;
    }
}

.section {
    &__title {
        margin-bottom: 0.5rem;
    }
    
    & p {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

.section--underline {
    .section__title {
        padding-bottom: 0.2rem;
        border-bottom: 1px solid $input-border;
    }
}
