@use "_colors.scss" as *;

//Default classes

//! Color fonts
.font {
    color: $font;
}
.font-muted {
    color: $font-muted;
}
.font-high-contrast {
    color: $font-high-contrast;
}

//! Strong tag
li {
    list-style-position: inside;
    line-height: 1.9;
}

strong {
    background-color: $strong-bg;

    padding: .2rem;
    padding-top: .08rem;
    border-radius: .3rem;
}

//! Anchor tag
a {
    color: $anchor;

    &:hover {
        text-decoration: underline;
    }
}

.a--font-muted {
    color: $font-muted;
    transition: 60ms cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
        color: $anchor;
        text-decoration: none;
    }
}

//! Div | Table
%div-default {
    & > * {
        padding: 1rem;
    }

    border: 1px solid $div-border;
}

.div-blue {
    @extend %div-default;

    background-color: $div-bg-blue;
    border-color: $div-border-blue;
    border-radius: 0.5rem;
}

.table {
    &__row {
        @extend %div-default;
        border-bottom: 0px;
        display: flex;

        // Childs from .table__row
        & >:first-child{
            flex: 1 1 30%;
            border-right: 1px solid $div-border;
        }
        & >:last-child{
            flex: 1 1 70%;
        }
    }

    // Childs that are .table__row
    &__row:first-child {
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
    }
    &__row:last-child {
        border-bottom: 1px solid $div-border;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }

    // Childs from .table (.table__row)
    & >:nth-child(odd) {
        background-color: $div-bg-light;
    }
    & >:nth-child(even) {
        background-color: $div-bg-dark;
    }

}

//! Code block
.code-block {
    background-color: $header;
    padding: 2rem;
    
    border: 1px solid $div-border;
    border-radius: .3rem;

    &__text {
        font-family: 'Source Code Pro', monospace;
    }
}

//! Buttons
%button-default {
    padding: 0.3rem 0.7rem;
    height: 2rem;

    border: 1px solid;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.3rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

@mixin button-color($bg, $font, $btn-border, $bg-hover, $border-hover) {
    background-color: $bg;
    color: $font;
    border-color: $btn-border;
    &:hover {
        background-color: $bg-hover;
        border-color: $border-hover;
        text-decoration: none;
    }
}

.button {
    @extend %button-default;
    @include button-color($button-bg, $font, $button-border, $button-bg-hover, $button-border-hover);
}

.button-green {
    @extend %button-default;
    @include button-color($button-bg-green, $font-high-contrast, $button-border-green, $button-bg-hover-green, $button-border-hover-green);
}

.to-top {
    background-color: $header;
    border-radius: 50%;
    border: 1px solid $button-border;

    &:hover {
        background-color: $button-bg-hover;
        border-color: $button-border-hover;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;

    width: 3rem;
    height: 3rem;

    & ion-icon{
        font-size: 2rem;
        position: relative;
        top: 0px;
    }
}

//! Input
input {
    padding: 0.3rem 0.7rem;
    height: 2rem;

    background-color: $input-bg;

    border: 1px solid $input-border;
    border-radius: 0.5rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);

    &:focus {
        border-color: $input-border-focus;
        outline: none;
    }
}

//! IonIcons / icons / svg
ion-icon {
    font-size: 1.2rem;
    position: relative;
    top: 0.1rem;

    color: $font-muted;
}
.arrow {
    position: relative;
    top: 0.1rem;

    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 0.25rem 0.25rem 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}