@use "_colors.scss" as *;

//Default classes

//! Color fonts
.font {
    color: $font;
}
.font-muted {
    color: $font-muted;
}
.font-high-contrast {
    color: $font-high-contrast;
}

//! Anchor tag
a {
    color: $anchor;

    &:hover {
        text-decoration: underline;
    }
}

.a--font-muted {
    color: $font-muted;
    transition: 60ms cubic-bezier(0.33, 1, 0.68, 1);

    &:hover {
        color: $anchor;
        text-decoration: none;
    }
}

//! Div | Table
%div-default {
    padding: 1rem;

    border: 1px solid $div-border;
}

.div-blue {
    @extend %div-default;

    background-color: $div-bg-blue;
    border-color: $div-border-blue;
    border-radius: 0.5rem;
}

.table {
    &__row {
        @extend %div-default;
        border-bottom: 0px;
        
        &:first-child {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    
        &:last-child {
            border-bottom: 1px solid $div-border;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }

    & >:nth-child(odd) {
        background-color: $div-bg-light;
    }
    & >:nth-child(even) {
        background-color: $div-bg-dark;
    }

}

//! Buttons
%button-default {
    padding: 0.3rem 0.7rem;
    height: 2rem;

    border: 1px solid;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.3rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
}

@mixin button-color($bg, $font, $btn-border, $bg-hover, $btn-border-hover) {
    background-color: $bg;
    color: $font;
    border-color: $btn-border;
    &:hover {
        background-color: $bg-hover;
        border-color: $btn-border-hover;
        text-decoration: none;
    }
}

.button {
    @extend %button-default;
    @include button-color($button-bg, $font, $button-border, $button-bg-hover, $button-border-hover);
}

.button-green {
    @extend %button-default;
    @include button-color($button-bg-green, $font-high-contrast, $button-border-green, $button-bg-hover-green, $button-border-hover-green);
}

//! Input
input {
    padding: 0.3rem 0.7rem;
    height: 2rem;

    background-color: $input-bg;

    border: 1px solid $input-border;
    border-radius: 0.5rem;

    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);

    &:focus {
        border-color: $input-border-focus;
        outline: none;
    }
}

//! IonIcons / icons / svg
ion-icon {
    font-size: 1.2rem;
    position: relative;
    top: 0.1rem;

    color: $font-muted;
}
.arrow {
    position: relative;
    top: 0.1rem;

    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 0.25rem 0.25rem 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}